.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post__body{
    flex: 1;
    padding: 10px;

}
.post__avatar{
    padding: 20px;
    cursor: pointer;

}

.tag{
    text-decoration: none;
    color: black;
}

.tag:hover{
    color: gray;
    cursor: pointer;
}

.post__body > img {
    border-radius: 20px;
    cursor: pointer;

}
.post__headerText > h3{
    font-size: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.post__headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}

.post__badge{
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
}

.post__headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.comment:hover{
    color: var(--twitter-color);
    transition: color 0.2s ease-out;
}

.repost:hover{
    color: #32CD32;
    transition: color 0.2s ease-out;
}

.like:hover{
    color: #DC143C;
    transition: color 0.2s ease-out;
}

.share:hover{
    color: var(--twitter-color);
    transition: color 0.2s ease-out;
}